<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <div v-for="addr in addrs">
        {{addr}}
    </div>

    <hr>

    <div v-for="(addr,i) in addrs">
        {{i+1}}: addr<br>
    </div>

</div>

<script src="js/vue.js"></script>

<script>
    new Vue({
        el:"#app",
        data(){
            return {
                username:"",
                url:"https://www.baidu.com",
                count:1,
                addrs:["北京","广东"]
            }
        },
        methods:{
            show(){
                alert("被点击");
            }
        },
        mounted(){
            alert("vue挂载完成，发送异步请求")
        }
    })
</script>
</body>
</html>